/* OVERALL STYLES */
html {
    background-color: #010440;
    font-size: 20px;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 2.25rem;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 1.75rem;
    font-family: 'Libre Baskerville', serif;
}

h4 {
    font-size: 1.25rem;
    font-family: 'Libre Baskerville', serif;
    color: #C6D984;
}

p {
    font-family: 'Quicksand', sans-serif;
}

hr {
    background-color: #8ABFA6;
    margin: 0;
}

.text-indent {
    text-indent: 2.5rem;
}

footer {
    background-color: #142615 !important;
}


/* NAV STYLES */
.active {
    color: #8ABFA6 !important;
}

.navbar {
    background-color: #142615;
}

.navbar-item {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.navbar-item:hover {
    background-color: #142615 !important;
    color: #8ABFA6 !important;
}

.navbar-menu.is-active {
    background-color: #142615;
}

span {
    background-color: #FFFFFF !important;
}

/* HOME STYLES */
.home-line {
    width: 26.7%;
    margin: auto;
}

.recent-report,
.best-stats {
    background-color: #59733F;
}

.columns,
.column {
    padding: 0 !important;
    margin: 0 !important;
}

.right-border {
    border-right: 2px solid #8ABFA6;
}

.recent-stats {
    font-size: 1.25rem;
    font-family: 'Libre Baskerville', serif;
}

.recent-conditions {
    font-family: 'Libre Baskerville', serif;
}

.home-button {
    background-color: #95A363;
    border: none;
    color: #FFFFFF;
}

.home-button:hover {
    background-color: #C6D984;
    color: #000000 !important;
}

.stats-line {
    width: 37%;
}

.yearly-hero {
    background-color: #142615;
}

.overall-hero {
    background-color: #377B3A;
}

.about-hero {
    background-color: #000006;
}

.reports-text {
    width: 50%;
}

.about-column {
    display: flex;
    justify-content: center;
}

.about-img {
    width: 550px;
    height: 550px;
}

/* RECENT REPORTS STYLES */
.recent-line {
    width: 21.2%;
    margin: auto;
}

/* YEARLY REPORTS STYLES */
.yearly-line {
    width: 20%;
    margin: auto;
}

.general-info-col {
    background-color: #59733F;
    width: 111.6%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.quick-nav-col {
    background-color: #142615;
    width: 55.8%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.quick-nav-years,
.quick-nav-lakes,
.years, .location-links {
    background-color: #95A363;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    width: 150px;
    height: 50px;
    border: none;
}

.quick-nav-lakes {
    width: 200px;
}

.years {
    font-size: 1.75rem;
    width: 200px;
    height: 75px;
}

.quick-nav-years:hover,
.quick-nav-lakes:hover,
.years:hover, .location-links:hover {
    background-color: #C6D984;
    color: #000000;
}

.projection-title {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

/* OVERALL STATS STYLES */
.overall-line {
    width: 23%;
    margin: auto;
}

.jump-to,
.jump-to-items {
    background-color: #377B3A;
    border: none;
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
}

.jump-to-text {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.jump-to-text:hover {
    color: #000000 !important;
}

.table {
    font-family: 'Quicksand', sans-serif;
    width: 75%;
}

thead {
    background-color: #000006 !important;
}

tbody {
    background-color: #A1A8A1 !important;
}

tr,
th,
td {
    border: 1px solid #142615 !important;
}

th,
td {
    width: 33.33%;
}

.table-header {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
}

.table-titles {
    font-size: 1.25rem;
}

.lake-totals {
    background-color: #000006;
    font-family: 'Libre Baskerville', serif;
}

.rating-slow {
    color: #ADD8E6;
}

.rating-fair {
    color: #FFFF00;
}

.rating-average {
    color: #0000FF;
}

.rating-good {
    color: #06470C;
}

.rating-hot {
    color: #FF0000;
}

.pagination-link {
    background-color: #95A363;
    color: #FFFFFF;
    border: none;
}

.is-current {
    background-color: #8ABFA6!important;
    color: #000000!important;
}

.next, .previous, .biggest-next, .biggest-previous {
    background-color: #A1A8A1;
    border: none;
    color: #FFFFFF;
}

.pagination-link:hover {
    background-color: #C6D984;
}

/* ABOUT STYLES */
.about-line {
    width: 8.48%;
    margin: auto;
}

.about-page-img {
    width: 500px;
}

.about-text {
    width: 75%;
}

.about-table {
    width: 53.45%;
}

.biggest-fish-text {
    background-color: #000000;
    max-width: 1200px;
    /* width: 97.5%; */
}

.biggest-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: left!important;
}

.biggest-fish-img {
    max-width: 1200px;
    max-height: 792px;
}

/* YEAR STYLES */
.line_2018 {
    width: 8.25%;
    margin: auto;
}

.location-select {
    background-color: #142615;
    width: 43%;
}

.location-links {
    width: 225px;
}


/* FOOTER STYLES */
.footer-links {
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;
}

.other-links-line {
    width: 18.5%;
    margin: auto;
}

.navigation-line {
    width: 17.1%;
    margin: auto;
}

.contact-line {
    width: 12.6%;
    margin: auto;
}

.footer-text {
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1150px) {
    .about-img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 975px) {
    .about-img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .quick-nav-col {
        width: 75%;
    }

    .about-table {
        width: 75%;
    }
}

@media screen and (max-width: 875px) {
    .about-img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .right-border {
        border-right: none;
        border-bottom: 2px solid #8ABFA6;
    }

    .reverse-columns {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-img {
        width: 300px;
        height: 300px;
    }

    .general-info-col,
    .quick-nav-col {
        width: 100%;
    }

    .general-info-col {
        margin-bottom: 2rem !important;
    }

    .progress {
        margin-bottom: 2rem !important;
    }

    .season-bar {
        margin-bottom: 5rem !important;
    }

    .overall-table-columns {
        display: flex;
        flex-direction: column;
    }

    .overall-table {
        margin-bottom: 2rem !important;
        width: 100%;
    }

    .image-columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-column {
        width: 100% !important;
        margin-bottom: 2rem!important;
    }

    .about-text, .about-table {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .location-select {
        width: 100%;
    }
}

@media screen and (max-width: 625px) {
    .about-page-img {
        width: 75%
    }

    .biggest-text {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 470px) {
    .next, .previous {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .main-title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 385px) {
    .info-heading {
        font-size: 2rem;
    }
}